.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.form {
  max-width: 100%;
  width: var(--max-width);
  display: grid;
}

.label {
  padding: 1rem;
  display: inline-grid;
  margin-bottom: 1.8rem;
}

.button {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.select {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.input {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.fileupload::file-selector-button {
  border: 1px solid gainsboro;
  border-radius: 5px;
}
